header{
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}
header.black {
    background-color: #141414;
}
.header--logo {
    height: 25px;
}

.header--logo .image {
    height: 100%;
    width: 70px;
    border-radius: 3px;
    background-image: url('images/logotipodanetflix.jpg');
    background-size: cover;
}
.header--user {
    height: 35px;
}
.header--user div {
    height: 100%;
    border-radius: 3px;
    width: 40px;
    background-image: url('images/84c20033850498.56ba69ac290ea.png');
    background-size: cover;
}